<div class="container">
  <div class="col-12 ml-5 my-5">
    <h2><%= current_customer.name %>(あなた)のお気に入りの店一覧</h2>
    <% current_customer.favorites.each do |favorite| %>
    <table class="table table-bordered">
      <% favorite.shop.shop_images.each do |shop_image| %>
        <tr class="bg-light">
          <th>店名</th>
          <td><%= link_to favorite.shop.shop_name, shop_path(favorite.shop_id), class: "text-dark" %></td>
        </tr>
        <tr>
          <th>写真</th>
          <td><%= image_tag shop_image, size: "200x200" %></td>
        </tr>
      <% end %>
      </table>
    <% end %>
  </div>
</div>