<div class="container col-11">
  <div class="col-11 ml-5 my-5">
    <hr>
    <%= bootstrap_form_with(model: [shop, comment], local: true) do |f| %>
      <td><%= f.text_field :title, placeholder: "タイトルを記入", required: true %></td>
      <td><%= f.text_area :comment, size: "48x3", placeholder: "コメントを記入 500文字まで", required: true %></td>
      <td><%= f.submit "送信" %></td>
    <% end %>
  </div>
</div>